Repository jakartaee/concurrency, pull requests merged in 2023-10, with the labels that each got.

#349 hint to request virtual threads
  api/src/main/java/jakarta/enterprise/concurrent/ManagedExecutorDefinition.java
  api/src/main/java/jakarta/enterprise/concurrent/ManagedScheduledExecutorDefinition.java
  api/src/main/java/jakarta/enterprise/concurrent/ManagedThreadFactoryDefinition.java
Labels: enhancement

#352 Remove TODOs from TCK that are invalid
  tck/src/main/java/ee/jakarta/tck/concurrent/api/ContextService/ContextServiceTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/api/ManagedExecutors/ManagedExecutorsTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/api/ManagedScheduledExecutorService/ManagedScheduledExecutorServiceTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/api/ManagedTask/ManagedTaskTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/api/ManagedTaskListener/ManagedTaskListenerTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/api/SkippedException/SkippedExceptionTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/api/Trigger/TriggerTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/ManagedExecutorService/resourcedef/ManagedExecutorDefinitionFullTests.java
Labels: TCK

#351 Invalid assertion in LastExecutionTests
  tck/src/main/java/ee/jakarta/tck/concurrent/api/LastExecution/LastExecutionTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/api/Trigger/TriggerTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/common/fixed/counter/StaticCounter.java
  tck/src/main/java/ee/jakarta/tck/concurrent/framework/junit/extensions/Wait.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/ManagedExecutorService/inheritedapi/InheritedAPITests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/ManagedScheduledExecutorService/inheritedapi/InheritedAPIServletTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/ManagedScheduledExecutorService/inheritedapi/TestEjb.java
Labels: bug, TCK

#353 missed qualifiers in resource definition example
  api/src/main/java/jakarta/enterprise/concurrent/ContextServiceDefinition.java
  api/src/main/java/jakarta/enterprise/concurrent/ManagedScheduledExecutorDefinition.java
  api/src/main/java/jakarta/enterprise/concurrent/ManagedThreadFactoryDefinition.java
Labels: bug
