Repository jakartaee/concurrency, pull requests merged in 2024-02, with the labels that each got.

#422 Finalize tck qualifer tests
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/anno/AnnotationFullTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/anno/AnnotationServlet.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/anno/AnnotationWebTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/anno/application.xml
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/anno/web.xml
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/dd/DeploymentDescriptorFullTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/dd/DeploymentDescriptorServlet.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/dd/DeploymentDescriptorWebTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/dd/ManagedThreadFactoryProducer.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/dd/application.xml
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/dd/web.xml
Labels: TCK

#428 Remove override via application.xml test
  tck/src/main/java/ee/jakarta/tck/concurrent/common/qualifiers/OverwrittenQualifier4.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/anno/AnnotationFullTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/anno/AnnotationServlet.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/anno/AnnotationWebTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/anno/application.xml
Labels: bug, TCK

#432 Update workflows and issues
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/clarification.yml
  .github/ISSUE_TEMPLATE/release.yml
  .github/ISSUE_TEMPLATE/tck-challenge.yml
  .github/ISSUE_TEMPLATE/use-case.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update.yml
Labels: github_actions

#425 TCK tests for virtual threads
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/virtual/VirtualFullTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/virtual/VirtualThreadServlet.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/virtual/VirtualWebTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/virtual/application.xml
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/Platform/virtual/web.xml
Labels: TCK

#440 TCK updates for Flow
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/ContextService/contextPropagate/ContextPropagationFullTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/ContextService/contextPropagate/ContextPropagationWebTests.java
  tck/src/main/java/ee/jakarta/tck/concurrent/spec/ContextService/contextPropagate/ContextServiceDefinitionServlet.java
Labels: TCK
